@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@800&family=Spartan&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Color Theme Swatches in Hex */
@font-face {
  font-family: lemon-milk;
  src: url("../font/LEMONMILK-Bold.otf");
}

@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf");
}

@font-face {
  font-family: pacifico;
  src: url("../font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: pirulen;
  src: url("../font/pirulen rg.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  color: #110066;
  width: 100vw;
  height: 200vh;
  background-color: #110066;
}

nav {
  background-color: transparent;
  background-color: #110066;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: auto;
  width: 100%;
  z-index: 2;
  transition: all 250ms ease-in;
}

nav h1.logo {
  color: #ffffff;
  font-family: pirulen;
  font-size: 1.75rem;
  margin-left: 1rem;
}

nav ul.nav-links {
  display: flex;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul.nav-links li {
  color: #ffffff;
  padding: 1rem;
  font-family: nasalization;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  transition-property: color;
}

nav ul.nav-links li:before {
  position: absolute;
  bottom: 0.7rem;
  content: "";
  width: 0;
  height: 0.11rem;
  background-color: #ffffff;
  opacity: 0;
  transition: all 1s ease;
  transition-property: width, opacity;
}

nav ul.nav-links li:hover:before {
  width: 100%;
  opacity: 1;
}

nav.scrolled {
  background-color: #90cbfb;
}

main {
  margin: 0 auto;
}

div.intro-content {
  width: 100%;
  height: 90vh;
  z-index: 1;
  position: relative;
}

div.intro-content section.svg-assets {
  position: absolute;
  top: 0;
  left: 0;
}

#Group_4 {
  position: relative;
  top: 17px;
  left: -435.7817077636719px;
  width: 552px;
  height: 552px;
}

#webd {
  position: relative;
  top: 41px;
  left: 149px;
  width: 612px;
  height: 122px;
}

#century {
  position: relative;
  top: 148px;
  left: 149px;
  width: 455px;
  height: 74px;
}

#vct {
  position: relative;
  top: 228px;
  left: 150px;
  width: 712px;
  height: 243px;
}

#rect47 {
  position: absolute;
  top: 213px;
  left: 133px;
  width: 745px;
  height: 258px;
  border: 1px solid var(--unnamed-color-ffffff);
  background: transparent url("../SVG/Rectangle 47.svg") 0% 0% no-repeat padding-box;
  mix-blend-mode: color-dodge;
  border: 1px solid #ffffff;
  opacity: 0.39;
}

#_2021 {
  position: relative;
  top: -98px;
  left: 530px;
  width: 1140px;
  height: 639px;
}

#_p17 {
  position: relative;
  top: -105.35598754882812px;
  left: 984px;
  width: 180px;
  height: 190px;
}

#htd_3 {
  position: relative;
  top: 154px;
  left: 984px;
  width: 292px;
  height: 447px;
}

#mskG1 {
  position: relative;
  top: 26px;
  left: 1363px;
  width: 360px;
  height: 367px;
}

#l2 {
  position: relative;
  top: 130px;
  left: 980px;
}

#el3 {
  position: relative;
  top: -487px;
  left: 1468px;
}

#_p18 {
  position: relative;
  top: -50px;
  left: 1660px;
}

#sharon-mccutcheon1 {
  position: relative;
  top: 213px;
  left: 470px;
  z-index: -1;
  opacity: 0.5;
  mix-blend-mode: luminosity;
}

#htd3 {
  position: relative;
  top: 744px;
  left: -95px;
  width: 311px;
  height: 203px;
  opacity: 0.34;
}

#subt1 {
  position: relative;
  top: 610px;
  left: 55px;
  width: 429px;
  height: 430px;
}

#mskG_1 {
  position: relative;
  top: 540px;
  left: 300px;
  width: 267px;
  height: 270px;
}

#_p20 {
  position: relative;
  top: 603px;
  left: 595px;
  width: 180px;
  height: 190px;
}

#sharon-mccutcheon2 {
  position: relative;
  top: 556px;
  left: 642px;
  width: 180px;
  height: 190px;
  mix-blend-mode: luminosity;
}

#htd33 {
  position: relative;
  top: 845px;
  left: 537px;
  width: 447px;
  height: 292px;
}

#sharon-mccutcheon3 {
  position: relative;
  top: 845px;
  left: 833px;
  width: 173px;
  height: 235px;
  mix-blend-mode: luminosity;
  opacity: 1;
}

#subt2 {
  position: relative;
  top: 752px;
  left: 926px;
  width: 160px;
  height: 160px;
}

#htd {
  position: relative;
  top: 713px;
  left: 1170px;
  width: 360px;
  height: 367px;
}

#cir-G {
  position: relative;
  top: 556px;
  left: 1370px;
  width: 498px;
  height: 474px;
  z-index: -1;
}

#rect45 {
  position: relative;
  top: 424px;
  left: 1363px;
  width: 391px;
  height: 656px;
  z-index: 1;
  background: #fff;
}

#_p19 {
  position: relative;
  top: 713px;
  left: 1413px;
  width: 348px;
  height: 367px;
  z-index: 2;
}

#mskG_1a {
  position: relative;
  top: 426px;
  left: 1510px;
  width: 244px;
  height: 249px;
  z-index: 2;
}

#rect44 {
  position: relative;
  top: 424px;
  left: 1335px;
  width: 334px;
  height: 656px;
}

.svg-assets {
  transition: transform 1s linear;
  display: inline-block;
  cursor: pointer;
}

.svg-assets:hover {
  transform: scale(105%);
}
/*# sourceMappingURL=style.css.map */