* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
}
body {
  max-width: 1920px;
  max-height: 1080px;
  // overflow: hidden;
}

@font-face {
  font-family: lemon-milk;
  src: url("../font/LEMONMILK-Bold.otf");
}

@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf");
}

@font-face {
  font-family: pacifico;
  src: url("../font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: pirulen;
  src: url("../font/pirulen\ rg.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@800&family=Spartan&display=swap");
$Roboto: "Roboto", sans-serif;
$Rubik: "Rubik", sans-serif;
$Spartan: "Spartan", sans-serif;

$Pirulen: pirulen;
$LemonMilk: lemon-milk;
$Nasa: nasalization;
$Pacifico: pacifico;

div#content-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../SVG/Rectangle\ 42.svg");
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #fff;
    padding: 1rem 0;
    display: flex;
    ul {
      margin-left: auto;
      display: flex;
      li {
        list-style: none;
        a {
          text-decoration: none;
          padding: 0 2rem;
          font-family: $Nasa;
          font-size: 1.5em;
        }
      }
    }
  }
  #content-wrapper-section {
    height: calc(100vh - 60px);
    //   margin-top: 60px;
    position: relative;
    top: 60px;
    // display: none;//temporarily removed to work on html and css layout
    // transition: all 4s ease-in-out;
    #dots-grid {
      position: relative;
      left: -447px;
      top: 3px;
      padding:1em;
    }
  }
}
